body {
  background-color: light grey;
}
.base {
  height: 40px;
  background-image: linear-gradient(
    to right,
    rgb(6, 240, 240),
    rgb(7, 94, 180)
  );
}
.bor {
  border-left: 1px dotted white;
}
.yell {
  background-color: yellow;
  height: 40px;
}
